@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700');

body {
    font-family: 'Roboto', sans-serif;
    background-image: url("../images/slots.picture.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: lighten;
    background-color: rgb(59, 56, 56);
    transition: 0.6s;
    padding-left: 12.5%;
    padding-top: 30px;
    overflow: hidden;
}

.con {
    text-align: center;
    padding: 20px 0;
  }
  
  .con a {
    margin: 0 5px;
    text-decoration: none;
  }
  
  .con a i{
    color: black;
    background-color: #fff;
    padding: 10px 10px;
    border-radius: 50%;
    border: 2px solid black;
    font-size: 35px;
  }
  
  .con a i:hover {
    color: #fff;
    background-color: black;
    border: 2px solid #fff;
  }

.slot-container {
    width: 85%;
    height: 85%;
    background-color: rgba(9, 8, 8, 0.5);
    border-radius: 10px;
    border: 10px solid;
}

.slot-container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: 210px;
    padding: 0 10px;
    margin: auto;
}

.slot {
    font-size: 100px;
    width: 100px;
    height: 150px;
    background-color: #fff;
    border-radius: 10px;
    border: solid 2px;
    margin: 0 10px;
    text-align: center;
}

.score-lives-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 10px;
}

.score-lives-container li {
    display: inline-block;
    color: rgb(255, 242, 0);
    margin: 0 10px;
    font-size: 250%;
}

.score-lives-container div p {
    margin: 20px 0;
    font-size: 200%;
    line-height: 20px;
    color: #fff;
}

#score {
    margin-left: 5px;
    background-color: #fff;
    border: 1px solid;
    border-radius: 5px;
    padding: 1px 5px;
    color: black;
}

.submit-container {
    width: 85%;
    text-align: center;
    margin: auto;
}

#new-game {
    width: 225px;
    height: 50px;
    background-color: rgb(0, 128, 0);
    border-radius: 5px;
    font-size: 25px;
    font-weight: 700;
    border: 3px solid;
}

#new-game:hover {
    background-color: rgb(128, 252, 45);
    font-size: 25px;
    font-weight: 800;
}

#submit {
    width: 225px;
    height: 50px;
    background-color: rgb(192, 7, 7);
    border-radius: 5px;
    font-size: 25px;
    font-weight: 700;
    border: 3px solid;
}

#submit:hover {
    background-color: rgb(255, 0, 0);
    font-size: 25px;
    font-weight: 800;
}

#continue {
    width: 225px;
    height: 50px;
    background-color: rgb(245, 110, 0);
    border-radius: 5px;
    font-size: 25px;
    font-weight: 700;
    border: 3px solid;
}

#continue:hover {
    background-color: rgb(245, 217, 78);
    font-size: 25px;
    font-weight: 800;
}

.hide {
    display: none;
}

/**************************Media****************************/

@media (max-width: 1024px) {
    .con a i {
        font-size: 64px;
        margin: 0 87px;
    }


    .slot {
        width: 265px;
        height: 440px;
        font-size: 250px;
    }

    .slot-container {
        padding-top: 178px;
    }

    .submit-container {
        height: 150px;
    }

    #new-game {
        width: 80%;
        height: 75%;
        font-size: 60px;
    }

    #continue {
        width: 80%;
        height: 75%;
        font-size: 60px;
    }

    #submit {
        width: 80%;
        height: 75%;
        font-size: 60px;
    }

    .slot-container2 {
        height: 489px;
    }

    .score-lives-container {
        height: 167px;
    }

    .score-lives-container div p {
        font-size: 325%;
    }

    .score-lives-container li {
        font-size: 372%;
    }
}

@media (max-width: 912px) {
    .slot-container {
        padding-top: 93px;
    }
}

@media (max-width: 768px) {
    .slot-container {
        padding-top: 10px;
        height: 72%;
        width: 90%;
    }

    .slot {
        width: 260px;
        height: 400px;
    }
}

@media (max-width: 540px) {
    body {
        padding-left: 6%;
    }

    .slot {
        width: 190px;
        height: 300px;
        font-size: 200px;
    }

    .slot-container {
        margin-left: 2%;
        padding-top: 10px;
        height: 51%;
        width: 90%;
    }

    .slot-container2 {
        height: 321px;
    }

    .con a i {
        font-size: 45px;
        margin: 0px 55px;
    }

    #new-game {
        width: 65%;
        height: 45%;
        font-size: 35px;
        margin-top: 20px;
    }

    #submit {
        width: 65%;
        height: 45%;
        font-size: 32px;
    }

    .score-lives-container {
        height: 2%;
    }

    .score-lives-container li {
        font-size: 290%;
    }

    .score-lives-container div p {
        font-size: 233%;
    }
}

/*@media (max-width: 390px) {
    body {
        overflow: hidden;
        padding-left: 3px;
    }

    .slot-container {
        height: 799px;
        padding-left: 0%;
        margin-left: 0;
        overflow: hidden;
    }

    .slot-container2 {
        height: 332px;
    }

    .slot {
        width: 148px;
        height: 294px;
        font-size: 200px;
    }

    #new-game {
        width: 80%;
        height: 50%;
        font-size: 40px;
    }
    #submit {
        width: 80%;
        height: 50%;
        font-size: 40px;
    }

    #continue {
        width: 80%;
        height: 50%;
        font-size: 40px;
    }

    .score-lives-container {
        height: 100px;
    }

    .score-lives-container div p {
        font-size: 200%;
    }

    .score-lives-container li {
        font-size: 350%;
    }
}*/