@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700');

#game-overlay {
    height: 100vh;
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.backbtn {
    background-color: black;
    position: relative;
}

.backbtn a {
    position: absolute;
    top: 5px;
    left: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

.backbtn:hover a {
    color: yellowgreen;
    transform: scale(1.2);
}

.refreshbtn {
    position: absolute;
    top: 5px;
    left: 50px;
}

.main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
}

.keypad button {
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
}

.keypad button:hover {
    background-color: hsl(0, 0%, 80%);
}

.keypad button.active {
    background-color: hsl(0, 0%, 15%);
    color: hsl(0, 0%, 100%);
}

#btnSub {grid-column: 2 / span 2 ;}

#cal {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.con {
    text-align: center;
    padding: 20px 0;
  }
  
  .con a {
    margin: 0 5px;
    text-decoration: none;
  }
  
  .con a i{
    color: black;
    background-color: #fff;
    padding: 10px 10px;
    border-radius: 50%;
    border: 2px solid black;
    font-size: 35px;
  }
  
  .con a i:hover {
    color: #fff;
    background-color: black;
    border: 2px solid #fff;
  }

.slot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 85%;
    height: 85%;
    background-color: rgba(9, 8, 8, 0.5);
    border-radius: 10px;
    border: 10px solid;
    padding-top: 0.5rem;
}

.slot-container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.slot {
    width: 75px;
    font-size: 1rem;
    padding: 2.5rem 2rem;
    background-color: #fff;
    border-radius: 10px;
    border: solid 2px;
    margin: 0 10px;
    text-align: center;
    font-family: inherit;   /* ensure same font */
    box-sizing: border-box; /* consistent sizing */
}

.score-lives-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 2px;
}

.score-lives-container ul {
   margin-bottom: 0;
}

.score-lives-container li {
    display: inline-block;
    color: rgb(255, 242, 0);
    margin: 0 10px;
    font-size: clamp(1.5rem, 0.955rem + 2.73vw, 3rem);
}

.score-lives-container div p {
    margin: 20px 0;
    font-size: clamp(1.5rem, 1.209rem + 1.45vw, 2.3rem);
    line-height: 20px;
    color: #fff;
}

#score {
    margin-left: 5px;
    background-color: #fff;
    border: 1px solid;
    border-radius: 5px;
    padding: 1px 5px;
    color: black;
}

.submit-container {
    width: 85%;
    text-align: center;
    margin: auto;
}

#new-game {
    width: 225px;
    height: 50px;
    background-color: rgb(0, 128, 0);
    border-radius: 5px;
    font-size: 25px;
    font-weight: 700;
    border: 3px solid;
}

#new-game:hover {
    background-color: rgb(128, 252, 45);
    font-size: 25px;
    font-weight: 800;
}

#submit {
    width: 225px;
    height: 50px;
    background-color: rgb(192, 7, 7);
    border-radius: 5px;
    font-size: 25px;
    font-weight: 700;
    border: 3px solid;
}

#submit:hover {
    background-color: rgb(255, 0, 0);
    font-size: 25px;
    font-weight: 800;
}

#continue {
    width: 225px;
    height: 50px;
    background-color: rgb(245, 110, 0);
    border-radius: 5px;
    font-size: 25px;
    font-weight: 700;
    border: 3px solid;
}

#continue:hover {
    background-color: rgb(245, 217, 78);
    font-size: 25px;
    font-weight: 800;
}

.hide {
    display: none !important;
}

/**************************Media****************************/

/* @media (max-width: 1024px) {
    body {
        padding-top: 129px;
    }

    .con a i {
        font-size: 64px;
        margin: 0 87px;
    }

    .slot {
        width: 265px;
        height: 440px;
        font-size: 250px;
    }

    .slot-container {
        padding-top: 107px;
        height: 89%;
    }

    .submit-container {
        height: 150px;
    }

    #new-game {
        width: 80%;
        height: 75%;
        font-size: 60px;
    }

    #continue {
        width: 80%;
        height: 75%;
        font-size: 60px;
    }

    #submit {
        width: 80%;
        height: 75%;
        font-size: 60px;
    }

    .slot-container2 {
        height: 489px;
    }

    .score-lives-container {
        height: 167px;
    }

    .score-lives-container div p {
        font-size: 325%;
    }

    .score-lives-container li {
        font-size: 372%;
    }
}

@media (max-width: 912px) {
    body {
        padding-top: 0;
        padding-left: 0;
    }

    .slot-container {
        padding-top: 93px;
        height: 78%;
        margin-top: 17%;
        margin-left: 8%;
    }

    .slot {
        font-size: 280px;
    }
}

@media (max-width: 820px) {
    .slot-container {
        height: 78%;
        margin-top: 8%;
    }
}

@media (max-width: 768px) {
    .slot-container {
        padding-top: 10px;
        height: 70%;
        width: 90%;
        margin-left: 5%;
        margin-top: 5%;
    }

    .slot {
        width: 260px;
        height: 400px;
    }
}

@media (max-width: 540px) {    
    .slot {
        width: 190px;
        height: 300px;
        font-size: 200px;
    }

    .slot-container {
        margin-left: 5%;
        padding-top: 10px;
        height: 49%;
        width: 90%;
    }

    .slot-container2 {
        height: 321px;
    }

    .con a i {
        font-size: 45px;
        margin: 0px 55px;
    }

    #new-game {
        width: 65%;
        height: 45%;
        font-size: 32px;
        margin-top: 20px;
    }

    #submit {
        width: 65%;
        height: 45%;
        font-size: 32px;
    }

    #continue {
        width: 65%;
        height: 45%;
        font-size: 32px;
    }

    .score-lives-container {
        height: 2%;
    }

    .score-lives-container li {
        font-size: 290%;
    }

    .score-lives-container div p {
        font-size: 233%;
    }
}

@media (max-width: 430px) {
    body {
        padding-left: 0%;
        padding-top: 0%;
        background-position-x: -982px;
        background-position-y: -270px;
    }

    .slot-container {
        height: 78vh;
        width: 97%;
        margin-left: 1.5%;
        margin-top: 24%;
    }

    .slot {
        width: 150px;
        height: 258px;
        font-size: 170px;
    }
}

@media (max-width: 414px) {
    .con a i {
        margin: 0px 15px;
    }

    body {
        background-position-x: -994px;
        background-position-y: -278px;
    }

    .slot-container {
        margin-left: 1%;
        margin-top: 26%;
        width: 98%;
    }

    .slot {
        width: 147px;
        height: 240px;
        font-size: 150px;
    }

    .score-lives-container div p {
        font-size: 175%;
    }

    .score-lives-container li {
        font-size: 250%;
    }
}

@media (max-width: 412px) {
    body {
        background-position-x: -994px;
        background-position-y: -280px;
    }
}

@media (max-width: 390px) {
    body {
        padding-left: 0;
        padding-top: 0;
        background-position-x: -978px;
        background-position-y: -263px;
    }

    .slot-container {
        margin-left: 1%;
        width: 98%;
        height: 82vh;
        margin-top: 19%;
    }
}

@media (max-width: 360px) {
    body{
        background-position-x: -987px;
        background-position-y: -347px;
    }

    .slot-container {
        background-color: rgba(9, 9, 9, 0.8);
        margin-left: 3%;
        width: 93%;
        margin-top: 18%;
    }

    .slot-container2 {
        height: 245px;
    }

    .slot {
        width: 125px;
        height: 181px;
        font-size: 120px;
    }

    #new-game {
        font-size: 26px;
    }

    .submit-container {
        height: 136px;
    }

    #continue {
        font-size: 25px;
    }
}

@media (max-width: 280px) {
    body {
        background-position-x: -1003px;
        background-position-y: -381px;
    }

    .slot-container {
        margin-left: 4%;
        margin-top: 13%;
        height: 42%;
    }

    .slot-container2 {
        height: 189px;
    }

    .slot {
        width: 88px;
        height: 142px;
        font-size: 90px;
    }

    #new-game {
        font-size: 18px;
    }

    #submit {
        font-size: 25px;
    }

    #continue {
        font-size: 20px;
    }

    .score-lives-container div p {
        font-size: 150%;
    }

    .score-lives-container li {
        font-size: 139%;
    }

    ul {
        padding-left: 19px;
    }
} */