@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700');

#game-overlay {
    height: 100vh;
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

#game-overlay h1 {
  margin-bottom: 1rem;
  text-align: center;
  color: #00ff00; /* bright green to match your theme */
}

#name-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

#name-form input {    /* grow/shrink, minimum width */
    padding-top: min(0.5vw, 0.25rem);
    padding-bottom: min(0.5vw, 0.25rem);
    padding-left: min(1.5vw, 1rem);
    padding-right: min(1.5vw, 1rem);
    border-radius: 5px;
    border: none;
    font-size: clamp(1rem, 0.636rem + 1.82vw, 2rem);
    min-width: 0;
}

#name-form button {
    padding-top: min(0.5vw, 0.25rem);
    padding-bottom: min(0.5vw, 0.25rem);
    padding-left: min(1.5vw, 1rem);
    padding-right: min(1.5vw, 1rem);
    border-radius: 5px;
    border: none;
    font-size: clamp(1rem, 0.636rem + 1.82vw, 2rem);
    background-color: rgb(0, 98, 255);
}

.backbtn a {
    position: absolute;
    top: 5px;
    left: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

.backbtn:hover a, .refreshbtn:hover a {
    color: hsl(0, 0%, 75%);
    transform: scale(1.2);
}

.refreshbtn a {
    position: absolute;
    top: 5px;
    left: 50px;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

.main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    background-color: hsl(0, 0%, 20%);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 55%);
}

.keypad button {
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    /* padding: 0.5rem 1rem; */
    padding-top: min(2.5vh, 0.1rem);
    padding-bottom: min(2.5vh, 0.1rem);
    padding-left: min(5vw, 1rem);
    padding-right: min(5vw, 1rem);
}

.keypad button:hover {
    background-color: hsl(0, 0%, 80%);
}

.keypad button.active {
    background-color: hsl(0, 0%, 15%);
    color: hsl(0, 0%, 100%);
}

#btn-sub {grid-column: 2 / span 2 ;}

#cal {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.con {
    text-align: center;
    padding: 20px 0;
  }
  
  .con a {
    margin: 0 5px;
    text-decoration: none;
  }
  
  .con a i{
    color: black;
    background-color: #fff;
    padding: 10px 10px;
    border-radius: 50%;
    border: 2px solid black;
    font-size: 35px;
  }
  
  .con a i:hover {
    color: #fff;
    background-color: black;
    border: 2px solid #fff;
  }

.slot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 85%;
    height: 85%;
    background-color: rgba(9, 8, 8, 0.5);
    border-radius: 10px;
    border: 10px solid;
    padding-top: 0.5rem;
    padding-bottom: 0.75rem;
}

#slot-container2 {
    height: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}

/* .slot-container2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, 75px);
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 60%;
    font: bold;
} */

.slot {
    width: 75px;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 1.5rem 1rem;
    background-color: #fff;
    border-radius: 10px;
    border: solid 2px;
    margin: 0 2px;
    text-align: center;
    font-family: inherit;   /* ensure same font */
    box-sizing: border-box; /* consistent sizing */
    background-image: linear-gradient(
    to bottom,
    hsl(0, 0%, 20%) 0%,
    hsl(0, 0%, 60%) 5%,
    hsl(0, 0%, 80%) 10%,
    hsl(0, 0%, 90%) 20%,
    #fff 30%,
    #fff 40%,
    #fff 50%,
    #fff 60%,
    #fff 70%,
    hsl(0, 0%, 90%) 80%,
    hsl(0, 0%, 80%) 90%,
    hsl(0, 0%, 60%) 95%,
    hsl(0, 0%, 20%) 100%
  );
}

.score-lives {
    position: relative;
}

.score-lives-container {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.score-lives-container ul {
   margin-bottom: 0;
}

.score-lives-container li {
    display: inline-block;
    color: rgb(255, 242, 0);
    margin: 0 10px;
    font-size: 1rem;
}

.score-lives-container div h6 {
    font-size: 1rem;
    line-height: 20px;
    color: #fff;
    margin-bottom: 0;
}

#score {
    margin-left: 5px;
    background-color: #fff;
    border: 1px solid;
    border-radius: 5px;
    padding: 1px 5px;
    color: black;
}

.submit-container {
    width: 85%;
    height: 40%;
    text-align: center;
    margin: auto;
}

#new-game {
    width: 225px;
    height: 50px;
    background-color: rgb(0, 128, 0);
    border-radius: 5px;
    font-size: 25px;
    font-weight: 700;
    border: 3px solid;
}

#new-game:hover {
    background-color: rgb(128, 252, 45);
    font-size: 25px;
    font-weight: 800;
}

#submit {
    width: 225px;
    height: 50px;
    background-color: rgb(192, 7, 7);
    border-radius: 5px;
    font-size: 25px;
    font-weight: 700;
    border: 3px solid;
}

#submit:hover {
    background-color: rgb(255, 0, 0);
    font-size: 25px;
    font-weight: 800;
}

#continue {
    width: 225px;
    height: 50px;
    background-color: rgb(245, 110, 0);
    border-radius: 5px;
    font-size: 25px;
    font-weight: 700;
    border: 3px solid;
}

#continue:hover {
    background-color: rgb(245, 217, 78);
    font-size: 25px;
    font-weight: 800;
}

.hide {
    display: none !important;
}

