body {
    background-color: rgb(127, 255, 212, 0.1);
    padding-left: 10%;
    padding-top: 30px;
}

.slot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 350px;
    background-color: cornflowerblue;
    border-radius: 10px;
    
}

.slot-container2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: orange;
    padding: 0 10px;
    border-radius: 10px;
}

.slot {
    font-size: 100px;
    width: 100px;
    height: 150px;
    background-color: #fff;
    border-radius: 3px;
    border: solid 2px;
    margin: 0 10px;
    text-align: center;
}

.score-lives {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    background-color: lightblue;
    padding-top: 10px;
    
}

.score-lives li {
    display: inline-block;
}

.score-lives li span {
    color: rgb(255, 255, 0);
    margin: 0 10px;
    font-size: 250%;
}

.score-lives div p {
    margin: 20px 0;
    font-size: 200%;    
}

#score {
    margin-left: 5px;
    background-color: #fff;
    border: 1px solid;
    border-radius: 5px;
    padding: 1px 5px;
}

.submit-container {
    width: 85%;
    text-align: center;
}

#new-game {
    width: 225px;
    height: 50px;
    background-color: red;
    border-radius: 5px;
}