@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700');

body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

#bg-image {
    background-image: url("../images/slots.picture.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: rgb(59, 56, 56);
    overflow: hidden;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;    
}

/*******************************header*****************/
header {
    position: relative;
    background-color: rgb(9, 9, 9, 0.1);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    transition: 0.3s;
}

#logo a {
    display: block;
}

#logo a img {
    display: block;
    width: 20%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    transition: 0.5s;
}

#menu li {
    list-style-type: none;
}

#menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 40px 25px;
    font-size: 20px;
    line-height: 0.5;
    transition: 0.3s;
}

#menu li a:hover {
    box-shadow: 0 -10px 10px #fff inset,
        500px 0 0 rgba(218, 215, 215, 0.03) inset;
    padding: 40px 25px 45px 25px;
}

.topnav {
    overflow: hidden;
    background-color: rgb(9, 9, 9, 0.1);
    position: relative;
}

.topnav #menu2 {
    display: none
}

#menu2 li {
    list-style-type: none;
}

.topnav li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 14px 16px;
    font-size: 20px;
    transition: 0.3s;
}

#menu2 li a:hover {
    border-bottom: 2px solid #fff;
}

.topnav .icon {
    background-color: black;
    color: #fff;
    font-size: 40px;
    display: block;
    position: absolute;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 10px;
    right: 13px;
}

h2 {
    margin: 5px 0;
}

.active-page {
    border-bottom: 2px solid #fff;
}

section {
    width: 100%;
    height: 417px;
}

.home-screen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    width: 225px;
    height: 50px;
    background-color: rgb(255, 47, 0);
    border-radius: 5px;
    border: 3px solid;
}

.buttons:hover {
    background-color: rgb(103, 255, 8);   

}

.buttons a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 800;
}

/**********************************Instructions***********************/
.inst-bg {
    background-color: rgb(0, 0, 0, 0.8);
    margin: 5px 175px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

.inst-bg h2 {
    padding-top: 7px;
}

.i-container {
    text-align: center;
}

.instruct-btn {
    margin: 0 0 25px 0;
}

.p-container {
    margin: 0;
    height: 265px;
}

.p-container p {
    padding: 25px 0 0 0;
    font-size: 17px;
    font-weight: 700;
}

.p-container span {
    font-size: 20px;
}

/**********************************Feedback***********************/
.feedback-bg {
    background-color: rgba(9, 8, 8, 0.5);
    margin: 10px 310px;
    padding-top: 1px;
    padding-bottom: 0.25px;
    border-radius: 10px;
    color: rgb(255, 255, 255);

}

.f-container {
    text-align: center;
}

.feedback-form {
    margin-left: 7.5%;
    width: 85%;
}

.feedback-form div {
    margin: 10px 0;
}

.feedback-button {
    width: 10%;
}

/**********************************Footer***********************/
.footer {
    position: relative;
    display: flex;
    justify-content: end;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
}

.footer div {
    margin-top: 5px;
}

.social-media {
    margin: 0 45px;
}

.social-media i {
    margin: 0 20px;
}

.social-media a{
    text-decoration: none;
    color: #fff;
}

/***********************Media Queries********************/
@media (max-width: 1024px) {
    body {
        overflow: hidden;
        height: 1366px;        
    }

    #bg-image{
        height: 1366px;
        background-size: cover;
    }

    #logo a img {
        width: 58%;
        padding-top: 28px;
    }

    #menu li a {        
        font-size: 26px;
        font-weight: 400;
    }

    .home-screen {
        height: 80%;
    }

    .buttons {
        width: 50%;
        height: 10%;
        border-radius: 10px;
        border: 5px solid;
    }

    .buttons a {
        font-size: 60px;
    }

    .footer {
        position: relative;
        height: 100px;
    }

    .social-media a {
        font-size: 30px;
    }

    p {
      font-size: 30px;
    }

    .footer div {
        margin-top: 15px;
    }

    .i-container {
        height: 80%;
    }

    .inst-bg {
        height: 90%;
        width: 75%;
        margin-left: 125px;
    }

    .inst-bg h2{
        font-size: 75px;
        margin-bottom: 17px;
    }

    .p-container {
        height: 75%;
        padding: 0 5px;
    }

    .p-container p {
        font-size: 34px;
        padding: 0 30px;
    }

    .f-container {
        height: 80%;
    }

    .feedback-bg {
        height: 90%;
        width: 75%;
        margin-left: 125px;
    }

    .feedback-bg h2{
        font-size: 75px;
        margin-bottom: 25px;
    }

    .feedback-form {
        height: 75%;
        margin-top: 50px;
    }

    .feedback-form button {
        font-size: 10px;
        height: 100px;
        width: 75%;
        margin-top: 50px;
    }
}

@media (max-width: 390px) {
    .home-screen {
        height: 46%;
    }

    .buttons a {
        font-size: 36px;
    }

    .footer p {
        display: none;
    }

    .social-media {
        margin-right: 100px;

    }

    #menu {
        margin-left: 0;
        margin-right: 0;
        padding-right: 10px;
    }

    #menu li a {
        font-size: 14px;
        font-weight: 400;
    }

    .inst-bg {
        height: 90%;
        width: 99%;
        margin-left: 87px;
    }

    .i-container {
        height: 630px;
    }

    .p-container p {
        font-size: 18px;
    }

    .inst-bg {
        margin-left: 2px;
    }

    .inst-bg h2 {
        font-size: 22px;
    }

    .feedback-bg {
        height: 0%;
        width: 99%;
        margin-left: 2px;
    }

    .feedback-bg h2 {
        font-size: 30px;
    }

    .f-container {
        height: 630px;
    }
}

@media (max-width: 280px) {
    .home-screen {
        height: 26%;
    }

    header {
        flex-flow: wrap-reverse;
        justify-content: start;
    }

    nav {
        justify-content: start;
    }

    #menu li a {
        font-size: 7px;
    }

    #logo a img {
        width: 58%;
        margin-left: 45px;
    }

    .buttons a {
        font-size: 25px;
    }

    .footer {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .social-media {
       width: 200px;
       height: 50px; 
       margin-right:35px;
    }
}