@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700');

/* html {
    height: 100%;
} */

html, body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/*******************************header*****************/
.background {
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("../images/slots.picture.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgb(59, 56, 56);
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden;
}

header {
    position: relative;
    background-color: rgba(9, 9, 9, 0.4);
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 25px;
    transition: 0.3s;
}

#logo {
    position: absolute;
    top: 10px;
    left: 10px;
    height: clamp(4.688rem, 3.551rem + 5.68vw, 7.813rem);
    width: clamp(6.25rem, 2.273rem + 19.89vw, 17.188rem);
    z-index: 2;
}

#logo a img {
    width: 100%;
    height: 100%;
} 

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 1;
    transition: 0.5s;
}

#menu li {
    list-style-type: none;
}

#menu li a {
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 135px;
    padding: 40px 25px;
    font-size: 20px;
    line-height: 0.5;
    transition: 0.3s;
}

#menu li a:hover {
    box-shadow: 0 -10px 10px #fff inset,
        500px 0 0 rgba(218, 215, 215, 0.03) inset;
    padding: 40px 25px 45px 25px;
}

.topnav {
    display: none;
}

#menu2 {
    text-align: center;
    padding-top: 100px;
}

.topnav #menu2 {
    display: none;
}

.topnav a {
    text-align: right;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 14px 16px;
    font-size: 25px;
}

.topnav a.icon {
    background-color: rgba(0, 0, 0, 0.1);
    display: block;
    position: absolute;
    padding: 10px 20px;
    font-size: 30px;
    right: 11px;
    top: 10px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
  }

h2 {
    margin: 5px 0;
}

.active-page {
    border-bottom: 2px solid #fff;
}

.home-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.buttons {
    padding: 0.75rem 1.5rem;
    min-width: 200px;
    background-color: rgb(255, 47, 0);
    border-radius: 10px;
    border: 3px solid; 
    animation: pulse 2s ease-in-out infinite;

}

.buttons:hover {
    background-color: rgb(103, 255, 8);   

}

.buttons a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 800;
}

/**********************************Instructions***********************/
.i-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.inst-bg {
    background-color: rgb(0, 0, 0, 0.8);
    padding: 2rem;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    border: #fff 2px solid;
}

.inst-bg h2 {
    text-align: center;
    margin-bottom: 1em;
}

.p-container {
    padding: 0 2rem;
}

.instruct-btn {
    margin-top: 2rem;
    text-align: center;
}

/**********************************Feedback***********************/
.feedback-bg {
    background-color: rgba(9, 8, 8, 0.5);
    margin: 10px 310px;
    padding-top: 1px;
    padding-bottom: 0.25px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

.f-container {
    text-align: center;
}

.feedback-form {
    margin-left: 7.5%;
    width: 85%;
}

.feedback-form div {
    margin: 10px 0;
}

.feedback-button {
    width: 10%;
}

/**********************************Footer***********************/
.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffff;
}

/* .footer div {
    padding: 10px;
} */

.footer div {
    width: 33.33333%;
    display: flex;
    justify-content: center;
    padding: 10px 0 5px 0;
}

/* .social-media {
    margin: 0 45px;
} */

/* .social-media i {
    margin: 0 20px;
} */

.social-media a {
    text-decoration: none;
    color: #fff;
    margin: 0 1.25rem;
    font-size: 1.3rem;
}

.social-media a:hover {
    transform: scale(1.2);
    transition: all ease-in-out 0.5s;
    /* box-shadow: 0 -10px 10px #fff inset,
        500px 0 0 rgba(218, 215, 215, 0.03) inset;
    padding: 20px 12.5px 22.5px 12.5px; */
}

/***********************Media Queries********************/

@media (max-width: 1024px) {
    /* body {
        overflow: hidden;
        height: 1366px;       
    } */

    #bg-image{
        height: 1366px;
        background-size: cover;
    }

    /* #logo a img {
        width: 58%;
        padding-top: 28px;
    } */

    /* #menu li a {        
        font-size: 26px;
        font-weight: 400;
    } */

    .home-screen {
        height: 90%;
    }

    .f-container {
        height: 80%;
    }

    .feedback-bg {
        height: 90%;
        width: 75%;
        margin-left: 125px;
    }

    .feedback-bg h2{
        font-size: 75px;
        margin-bottom: 25px;
    }

    .feedback-form {
        height: 75%;
        margin-top: 50px;
    }

    .feedback-form button {
        font-size: 10px;
        height: 100px;
        width: 75%;
        margin-top: 50px;
    }
}

@media (max-width: 768px) {

    .topnav {
        display: contents;
    }

    nav {
        display: none;
    }

    .i-container {
        padding-top: 7rem;
    }

    .f-container {
        height: 59%;
    }

    .feedback-bg {
        margin-left: 14%;
    }

    .feedback-bg h2 {
        font-size: 65px;
    }

    .feedback-form button {
        margin-top: 21px;
    }
}

@media (max-width: 540px) {
    header {
        display: block;
        background-color: rgb(9, 9, 9, 0.2);
    }

    #bg-image {
        background-position-x: -847px;
        background-position-y: -38px;
    }

    .active-page {
        font-weight: 900;
        border-bottom: none;
    }

    #foot {
        display: none;
    }

    .footer div {
        width: 100%;
    }

    .social-media a {
        margin: 0 3.5rem;
        font-size: 1.3rem;
    }
}
